@tailwind base;
@tailwind components;
@tailwind utilities;

#navbar {
  background: linear-gradient(91.63deg, #c229bc 0.42%, #5f00ca 100%);
}
h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  /* identical to box height */

  /* text color */
  color: #1e1e1e;
  /* padding: 5%; */
}
h5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  color: #ffffff;
}
h6 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  color: #ffffff;
}

h6:hover {
  cursor: pointer;
  color: darkgreen;
  transform: scale(1.1);
  transition: all 200ms ease;
}
h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

h4:hover {
  cursor: pointer;
  color: darkgreen;
  transform: scale(1.1);
  transition: all 200ms ease;
}
h5:hover {
  cursor: pointer;
  color: darkgreen;
  transform: scale(1.1);
  transition: all 200ms ease;
}
#Btn {
  width: 363px;
  height: 50px;
  left: 982px;
  top: 618px;

  /* button */
  background: linear-gradient(91.63deg, #c229bc 0.42%, #5f00ca 100%);
  border-radius: 10px;
  color: white;
  cursor: pointer;
}
#Btn:hover {
  background: darkgreen;
}
#input {
  width: 636px;
  height: 50px;
  background: rgba(112, 7, 200, 0.15);
  border-radius: 10px;
  padding: 20px;
}
